input[type='submit'],
button{ cursor:pointer; }
a,
input[type='submit'],
button{
    position:relative;
    display: inline-block;
	border: none; outline: none; 
	text-decoration:none;
    &.disabled{
        cursor: default !important;
        background:#A09FA4 !important;
        box-shadow:none;
    }
    &.button--primary{
        cursor:pointer;
        font-size: 12px;
        font-weight: 600;
        text-decoration:none;
        text-shadow: 0 2px 4px rgba(0,0,0,0.10);
        padding: 5px 20px;
        color:white;
        background: linear-gradient(to bottom, #000000 0%,#282e41 100%);
        border-radius:2px;
        margin:0 2px;
        white-space: nowrap;
        &:hover{ opacity:0.8; }
    }
    &.button--gray{
        cursor:pointer;
        font-size: 12px;
        font-weight: 600;
        text-decoration:none;
        text-shadow: 0 2px 4px rgba(0,0,0,0.10);
        padding: 5px 20px;
        color:white;
        background: linear-gradient(to bottom, #ddd 0%,#666 100%);
        border-radius:2px;
        margin:0 2px;
        white-space: nowrap;
        &:hover{ opacity:0.8; }
    }
	&.button--purple{
        @extend .button--primary;
        background: $color-purple;
    }
}

// responsive
@media (max-width: 1024px) {
}

@media (max-width: 480px) {
}