@keyframes header {
    to{ opacity:1; transform: translateY(0px); }
}
.header{
    @extend %flex;
    @extend %between;
    height:60px;
    background: linear-gradient(to bottom, #000000 0%,#282e41 100%);
    .container1600{
        // @extend %flex;
        // @extend %between;
    }
    .logo{
        @extend %float-left;
        img{
            position: relative;
            z-index: 2;
        }
    }    
    .navbar{
        @extend %float-right;
        ul{ 
            @extend %clearfix;
            @extend .s12;
            color:#fff;
            margin:38px 0 0 0;
        }        
        li{
            @extend %float-left;
            .menu-link{
                position:relative;             
                font-weight:400;
                margin: 0 17px;
                transition:0.3s ease;
                &:hover{
                    color:#f8fb8c;
                }                
            }
            &.has-submenu{
                margin: -10px 0 0 0;                
                .menu-link{
                    padding:10px 35px 10px 20px;
                    background: linear-gradient(#333 0%, #000000 100%);                    
                    &:after{
                        content:'';
                        position: absolute;
                        top:0; bottom:0; right:18px;
                        width: 0; height: 0;
                        margin:auto;
                        border-left: 3px solid transparent;
                        border-right: 3px solid transparent;
                        border-top: 4px solid #f8fb8c;
                        z-index:1;
                    }
                    &.active{
                        color:#f8fb8c;
                        background: linear-gradient(#61666d 0%, #000000 100%);
                        &:after{
                            transform:scale(180deg);
                        }
                    }
                }
            }
        }
        ul.info{
            position: fixed;
            top: 0;
            border: 2px solid #000;
            border-top: 0;
            right: 37px;
            background: #fff;
            margin: 0;
            padding: 5px 10px;
            border-radius: 0 0 4px 4px;
            color: #000;
            font-weight: 600;
            z-index: 100;
        }        
    }

    .submenu{
        opacity:0;
        visibility:hidden;
        position: absolute;
        top:50px; left:0; right:0;
        width:980px;
        background:white;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.1);            
        padding:20px 20px 30px 20px;
        border-top:5px solid #000;
        border:1px solid #eee;
        z-index:1;
        transition:0.3s ease;
        &.active{ 
            opacity:1;
            visibility:visible;
            top:60px;
        }
        li{
            margin:10px 10px 20px 10px;
            img{
                width:150px;
                margin-bottom:5px;
            }
            .tittle{
                color: #000;
                font-weight: bold;
            }
        }
        a{ 
            display:block;
            margin:0 !important; 
            letter-spacing:2px;
            font-weight:600 !important;
        }
    }

    .tab-link{
        text-align:center;
        li{
            display:inline-block;
            float:none;
            margin:0 2px -1px 2px;
            &.active{
                a{
                    opacity:1;
                    border-bottom:1px solid #fff;
                }
            }
        }
        a{
            opacity:0.5;
            color:#ec2029;
            letter-spacing:0px;
            margin:0 !important;
            padding:10px 18px;
            border-radius:4px 4px 0 0;
            border:1px solid #ddd;
            background: linear-gradient(to bottom, #ddd 0%,#fff 100%);
            &:hover{
                opacity:0.7;
            }
        }
    }
    .tab-container{
        border-top:1px solid #ddd;
        padding:20px 0 0 0;
        li{
            float: none;
            display: inline-block;
            img{
                width:120px;
                height:85px;
            }
        }
        .tab-content{
            margin:20px 10px;
            display:none;
            &:first-child{ display:block; }
        }
    }
}
