.news{
    .news__list{
        display:inline-block;
    	margin:10px 0 10px 0;    	
        .thumb{}
        .date{}
        .title{}
        img{
            margin:0 10px 5px 0; 
        }
        p{ 
            display:initial;
            font-size:12px;
            line-height:16px; 
        }
        .desc{ @extend %clearfix; }
    }
    .news__detail{
    	img{ margin:10px; }
    }
}