.news{
    .news__list{
    	margin:0 0 10px 0;    	
        .thumb{}
        .date{}
        .title{}
        img{ margin:0 8px 5px 8px; }
        small{ line-height:16px; }
        .desc{ @extend %clearfix; }
    }
    .news__detail{
    	img{ margin:10px; }
    }
}