.tablink{
    position: relative;        
    ul{}
    li{
        margin:0 15px;            
        transition:0.2s ease;
        a{
            padding:5px 0; 
            border-bottom:5px solid transparent;
            transition:0.2s ease;
            h1{ transition:0.2s ease; }
        }
        &:hover{                                
            a {
                border-bottom:5px solid #8560a8;
                h1{ font-weight:700; }
            }
        }
    }
	
	&.tablink--page{
        li{
            position:relative;
            margin:0 40px;
            a{
                &:before{
                    content:'';
                    position:absolute;
                    bottom:8px; left:0; right:0;
                    margin:auto;
                    width:0%; height:0px;
                    background-color:$color-purple;                        
                    z-index:0;
                    transition:0.2s ease;
                }
                &:hover{ 
                    font-weight:600;
                    color:$color-purple; border-bottom:5px solid transparent;
                    &:before{
                        content:'';
                        position:absolute;
                        bottom:8px; left:0; right:0;
                        margin:auto;
                        width:80%; height:2px;
                        background-color:$color-purple;                        
                        z-index:0;
                    } 
                }
                h2{ position:relative; }
            }
            &.active{
                a{
                    font-weight:600;
                    &:hover{ color:#292929; }
                    &:before{
                        content:'';
                        position:absolute;
                        bottom:8px; left:0; right:0;
                        margin:auto;
                        width:80%; height:15px;
                        background-color:$color-purple;                        
                        z-index:0;
                    }
                }
            }
        }
    }

}