// Colors
$color-white: #fff;
$color-black: #000;

$color-green: #83ded9;
$color-blue: #40bbea;
$color-red: #cc3f44;
$color-yellow: #ffba00;

$color-gray: #e4e6e6;
$color-gray2: #ebebeb;

$color-purple: #8560a8;
$color-purple2: #392e41;

// Variables
$bodybg: $color-white;
$bodytext: $color-white;