/* ############ LemonTuesday ############ */
@font-face {
    font-family: 'LemonTuesday';
    src: url('dist/fonts/lemontuesday/LemonTuesday.eot');
    src: url('dist/fonts/lemontuesday/LemonTuesday.eot?#iefix') format('embedded-opentype'),
         url('dist/fonts/lemontuesday/LemonTuesday.woff') format('woff'),
         url('dist/fonts/lemontuesday/LemonTuesday.svg#opensans-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ############ Merriweather ############ */
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('dist/fonts/merriweather/Merriweather-Regular.eot');
    src: url('dist/fonts/merriweather/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
         url('dist/fonts/merriweather/Merriweather-Regular.woff') format('woff'),
         url('dist/fonts/merriweather/Merriweather-Regular.svg#opensans-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-Italic';
    src: url('dist/fonts/merriweather/Merriweather-Italic.eot');
    src: url('dist/fonts/merriweather/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
         url('dist/fonts/merriweather/Merriweather-Italic.woff') format('woff'),
         url('dist/fonts/merriweather/Merriweather-Italic.svg#opensans-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-Light';
    src: url('dist/fonts/merriweather/MerriweatherLight.eot');
    src: url('dist/fonts/merriweather/MerriweatherLight.eot?#iefix') format('embedded-opentype'),
         url('dist/fonts/merriweather/MerriweatherLight.woff') format('woff'),
         url('dist/fonts/merriweather/MerriweatherLight.svg#opensans-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-Bold';
    src: url('dist/fonts/merriweather/Merriweather-Bold.eot');
    src: url('dist/fonts/merriweather/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
         url('dist/fonts/merriweather/Merriweather-Bold.woff') format('woff'),
         url('dist/fonts/merriweather/Merriweather-Bold.svg#opensans-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ############ Roboto ############ */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');


/* ############ myriad pro ############ */
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('dist/fonts/myriadpro/MyriadPro-Regular.eot');
    src: url('dist/fonts/myriadpro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('dist/fonts/myriadpro/MyriadPro-Regular.woff') format('woff'),
         url('dist/fonts/myriadpro/MyriadPro-Regular.svg#opensans-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}