@import "../base/color";
@import "../base/extend-only";
@import "../components/tab";
@import "../components/gallery";
@import "../components/form";
@import "../components/button";

.thumb{}
.linetitle{
    position: relative;
    margin-left:80px;
    margin-bottom:30px;
    &:after{
        content:'';
        position: absolute;
        top:27px; left:-80px;
        width:55px; height:3px;
        background:#8560a8;
    }
}

#section1{
    position:relative;
    &:after{
        content:'';
        position: absolute;
        top:0; left:0;
        width:100%; height:100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); 
    }    
    .map{ 
        width:100%;
        height:450px; 
    }
}

#section2{
    .section__content{
        h2{
            margin-left:80px;
        }
    }
    .span6{
        form{
            width:100%;
            .field{
                @extend %clearfix;
                width:480px;
                margin-bottom: 15px;
            }
            .title{
                @extend %float-left;
                display:inline-block; 
                margin-top:15px;
                width:70px; 
            }
            .separator{
                @extend %float-left;
                display:inline-block; 
                width:10px;
                margin-top:15px;
                margin-right:5px; 
            }
            input, textarea{
                @extend %float-left;
                width:calc(100% - 85px);
            }
        }
    }
}
.info-error{
    padding: 10px;
    color: red;
    border: 1px solid red;
    border-radius: 2px;
}
.info-success{
    padding: 10px;
    color: green;
    border: 1px solid green;
    border-radius: 2px;
}

// tablet
@media (max-width:1024px){
    .linetitle{ 
        &:after{ top:18px; }
    }
    #section2{
        .span6.section__content{
            margin-bottom:30px;            
        }
        .span6{
            width:100%;
            margin:0;
        }
    }
}
@media (max-width:767px){
    .linetitle{
        margin-left:30px;
        margin-bottom:20px;
        &:after{
            top:15px; left:-30px;
            width:20px; height:2px;
        }
    }
    #section2{
        .span6.section__content{
            h2{
                margin-left:30px;
                margin-bottom:0;
                font-size:16px;
                line-height:24px;
            }
        }
    }
}
@media (max-width:480px){
    #section2{
        .span6{
            form{
                width:100%;
                .field{ width:100%; }
                .title{ width:18% }
                .separator{ width:5%; }
                .separator + input,
                .separator + textarea{
                    width:75%;                    
                }
                .separator + .button{
                    margin:0 auto;
                }
            }
        }
    }
}