@import "../base/color";
@import "../base/extend-only";
@import "../components/tab";

.thumb{}
.linetitle{
    position: relative;
    margin-left:80px;
    &:after{
        content:'';
        position: absolute;
        top:27px; left:-80px;
        width:55px; height:3px;
        background:#8560a8;
    }
}

#section1{ padding-top:105px; }

#section2{}

#section3{
    background-color:#f2f2f2;
    overflow:hidden;
    .section-cover{ background-color: $color-white; }
    .section__content{ 
        position:relative; 
        padding-top:60px;
        .linetitle{ margin-bottom:10px; } 
        h2{ margin:0 0 40px 80px; }
    }
    .section{ padding: 0 8%; }
    @keyframes thumb1 {
        to{ opacity:1; transform: translateY(0); }
    }
    .slider{
        .slick-arrow{
            position: absolute;
            top:0; bottom:0; right:-20px;
            margin: auto 0;
            overflow:hidden;
            z-index: 1000;            
            border: none;
            background-color: transparent;
            width: 40px; height: 27px;
            background-image: url(../../dist/images/ico-arrow.png);
            background-size: 100%;
            text-indent: -1000px;
            cursor:pointer;
            &:focus{ outline:none; }
        }
        .slick-prev{
            transform:translate(0,30px) rotate(180deg);
        }
        .slick-next{
            transform:translate(0,-30px);
        }
        .slick-dots{
            text-align:center;
            margin:20px 0;
            li{
                display: inline-block;
                button{
                    border: none;
                    background-color: #333;
                    width:7px; height:7px;
                    margin:0 4px;
                    padding:0px;
                    border-radius:50%;
                    overflow:hidden;
                    text-indent:-1000px;
                }
                &.slick-active{
                    button{ background-color: #000; }
                }
            }
        }
    }
    .thumb{
        opacity:0;
        position: relative;
        float: left;
        margin:70px 0 0 20px;
        transform: translateY(20px);
        // overflow:hidden;

        @keyframes thumbbefore1 {
            to{ width:110%; transform: translateY(-5%) translateX(10%); }
        }
        &:before{
            content:'';
            position: absolute;
            width:100%; height:100%;
            transform: translateY(5%) translateX(7%);
            background:#8560a8;
            z-index: 0;
        }

        @keyframes thumbafter1{
            to{ transform: translateY(-112%) translateX(15%); }
        }
        &:after{
            content:'';
            position: absolute;
            width:100%; height:100%;
            transform: translateY(-100%) translateX(20%);
            border:2px solid #e4e6e6;
            z-index: 0;
        }

        img{ position:relative; z-index:1; }

        @keyframes splash1 {
            to{ opacity:1; transform: rotate(30deg) translate(-30%, -100%) scale(0.5); }
        }
        .splash{
            opacity:0;
            transform: rotate(30deg) translate(-40%, -100%) scale(0.5);
            position: absolute;
            bottom: -200px;
            width: 650px; height: 381px;
            background-image: url(../../dist/images/home/splash.png);
            background-size: 100%;
            z-index: 2;            
        }
        &.animate{
            animation: thumb1 1.8s ease forwards 1s;
            &:before{ animation: thumbbefore1 1.8s ease forwards 1.3s; }
            &:after{ animation: thumbafter1 1.8s ease forwards 1.3s; }
            .splash{ animation: splash1 2.8s ease forwards 1.3s; }
        } 
    }
    .tablink{
        margin:100px 0 0 0;
    }
}


// responsive
@media (min-width:1025px) and (max-height:700px) {
    #section3{
        .thumb{
            width: 380px;
            // .splash{                
            //     bottom: -210px;
            //     width: 350px; height: 205px;
            // }
        }
        .linetitle{ margin-bottom:40px; }
        .tablink{
            margin:60px 0 0 0;
        }
    }
}

// tablet
@media (max-width:1024px){
    #section3{
        .thumb{ 
            width: 380px; 
            margin-bottom: 20px;
            animation: thumb1 1.8s ease forwards 1s;
            &:before{ animation: thumbbefore1 1.8s ease forwards 1.3s; }
            &:after{ animation: thumbafter1 1.8s ease forwards 1.3s; }
            .splash{ display:none; }
        }
    }
}

@media (max-width:767px){
    .linetitle{
        margin-left:30px;
        margin-bottom:20px;
        &:after{
            top:17px; left:-30px;
            width:20px; height:2px;
        }
    }
    #section1{
        padding-top:30px;
        .tablink.tablink--page{
            li{
                float:none;
                display:inline-block;
                margin:0 15px;
            }
        }
    }
    #section3{
        .span6.section__content{
            padding-top:0;
            h2{
                margin-left:30px;
                margin-bottom:0;
                font-size:16px;
                line-height:24px;
            }
        }
        .span6{ width:100%; }
        .section{ padding: 0 5%; }
        @keyframes thumb1 {
            to{ opacity:1; transform: translateY(0); }
        }
        .thumb{ 
            width:70%;
        }
        .tablink{
            margin:0 0 120px 0;
        }
    }
}